doctype html
html
  head
    title Cloud Foundry Web Demo
    script( type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" )
    script( type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" )
    link( type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" )
  body
    header
      h1 Cloud Foundry Demo
      p Rob Taylor
    div.container
      section
        h2 Why?
        h3 Transform How Software is Built
        p Not by introducing new and foregin concepts, its by implementing the best practices found out there
        p Lots of tools out there, but nothing to really bring them all together
        p
          span Onsi Fakhouri - Transform how we iterate on software.
          ul
            li Have an Idea
            li Create work tasks
            li Create the code
            li Test the code
            li Ship the code
            li Get feedback
            li Repeat
        p 12 Factor App
        p Micro Services
        section
          h2 Simplicity at the Small Scale
          p Cloud Foundry Interface

        section
          h2 Simply Add Services

        section
          h2 Simply Scale

        section
          h2 Blue-Green Deployments at Ease

        section
          h2 Resliency Built-in

        section
          h2 Create a powerful queue driven system
